In [8]:
num = [1,2,3,4,5,6]
num

[1, 2, 3, 4, 5, 6]

In [2]:
num.insert(4, 10)
num

[1, 2, 3, 4, 10, 5, 6]

In [5]:
num.remove(4)
num

[1, 2, 3, 10, 5, 6]

#### 슬라이싱(인덱스) 삽입, 삭제, 치환

In [4]:
num[2:3]

[3]

In [9]:
# 맨 앞에 삽입
num[0] = 100
num

[100, 2, 3, 4, 5, 6]

In [10]:
num[:0] = [0]
num

[0, 100, 2, 3, 4, 5, 6]

In [11]:
num[:0] = 1111
num

TypeError: can only assign an iterable

In [12]:
# 맨 마지막
num[len(num):] = [-1]
num

[0, 100, 2, 3, 4, 5, 6, -1]

In [13]:
num[2:2] = [20,30,40]
num

[0, 100, 20, 30, 40, 2, 3, 4, 5, 6, -1]

In [14]:
# 치환
num[2:4] = [-20, -30, -40]
num

[0, 100, -20, -30, -40, 40, 2, 3, 4, 5, 6, -1]

In [15]:
num[:2] = [1,1]
num

[1, 1, -20, -30, -40, 40, 2, 3, 4, 5, 6, -1]

In [16]:
del num[:2]
num

[-20, -30, -40, 40, 2, 3, 4, 5, 6, -1]

In [17]:
num[:2] = []
num

[-40, 40, 2, 3, 4, 5, 6, -1]

# 튜플!

In [21]:
a = 1,2,3,4
a

(1, 2, 3, 4)

In [22]:
type(a)

tuple

In [23]:
t = ()
t

()

In [24]:
type(t)

tuple

In [25]:
t = tuple()
t

()

In [26]:
t = (1,2,3,'1','하나', [1,2,3])
t

(1, 2, 3, '1', '하나', [1, 2, 3])

In [27]:
len(t)

6

In [31]:
t = (1,2,3,-10, 100)
max(t), sum(t), min(t)

(100, 96, -10)

In [32]:
sum(t) / len(t)

19.2

In [33]:
t * 2

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

In [34]:
t + t

(1, 2, 3, -10, 100, 1, 2, 3, -10, 100)

## 인덱싱

In [35]:
t[1]

2

In [36]:
t[:4]

(1, 2, 3, -10)

In [37]:
t[-4:-2]

(2, 3)

In [38]:
t[0] = 1000

TypeError: 'tuple' object does not support item assignment

#### 튜플 메서드

In [39]:
t.count(3)

1

In [42]:
t.index(-10)

3

In [43]:
tuple([1,2,3,4])

(1, 2, 3, 4)

In [50]:
t = (1,3,4,4,5)
li = list(t)
li

[1, 3, 4, 4, 5]

In [51]:
li.append(-1)
li.append(0)
li.append(30)
li

[1, 3, 4, 4, 5, -1, 0, 30]

In [52]:
t = tuple(li)
t

(1, 3, 4, 4, 5, -1, 0, 30)

In [53]:
sorted(t)

[-1, 0, 1, 3, 4, 4, 5, 30]

# Dict

In [54]:
scores = {}

In [55]:
scores = dict()

In [56]:
type(scores)

dict

In [60]:
scores = {'kor': 85, 'eng': 100, 'math': 90}
scores

{'kor': 85, 'eng': 100, 'math': 90}

In [58]:
len(scores)

3

In [61]:
max(scores)

'math'

In [62]:
scores['kor']

85

In [63]:
scores[0]

KeyError: 0

In [65]:
scores['kor'] = 0
scores

{'kor': 0, 'eng': 100, 'math': 90}

In [66]:
scores['test'] = 100
scores

{'kor': 0, 'eng': 100, 'math': 90, 'test': 100}

In [67]:
# delete : X
scores['test'] = {} #XXXXXX
scores

{'kor': 0, 'eng': 100, 'math': 90, 'test': {}}

In [68]:
del scores['test']
scores

{'kor': 0, 'eng': 100, 'math': 90}

In [69]:
for i in scores:
    print(i)

kor
eng
math

In [70]:
scores['kor']

0

#### `enumerate()` & `items()`

In [77]:
scores = {'kor': 85, 'eng': 100, 'math': 90}

for i, key in enumerate(scores):
    print(i, key, scores.get(key))

0 kor 85
1 eng 100
2 math 90

In [ ]:
scores['kor']  # scores.get('kor')

In [78]:
for k, v in scores.items():
    print(k, v)

kor 85
eng 100
math 90

In [79]:
li = ['1', 'abc', 30, 40, 50]
for i, k in enumerate(li):
    print(i, k)

0 1
1 abc
2 30
3 40
4 50

#### keys, values

In [87]:
scores = {'kor': 85, 'eng': 100, 'math': 90}
scores.keys()

dict_keys(['kor', 'eng', 'math'])

In [88]:
scores.values()

dict_values([85, 100, 90])

In [89]:
scores.items()

dict_items([('kor', 85), ('eng', 100), ('math', 90)])

In [78]:
for k, v in scores.items():
    print(k, v)

kor 85
eng 100
math 90

### 체크

In [80]:
'kor' in scores

True

In [93]:
type(scores.get('k'))

NoneType

In [94]:
if scores.get('k') == None:
    print('OK')

OK

In [81]:
help(scores)

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Stack

In [82]:
scores.pop('kor')

85

In [83]:
scores

{'eng': 100, 'math': 90}

In [84]:
scores.popitem()

('math', 90)

In [85]:
scores

{'eng': 100}

In [19]:
# ex6-3.py
members = {'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' % len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [24]:
# ex6-4.py
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [26]:
# ex6-5.py
phones = {'갤럭시 노트8': 2017,  '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
print(phones)

for key in phones :
    print('%s => %s' % (key, phones[key]))

print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [ ]:
# Q6-3.py
scores = {'김예진': 90, '박영진': 95, '김소희': 84}

sum = 0
for key in scores :
    sum += scores[key]

    print('%s : %d' % (key , scores[key]))
    
avg = sum/len(scores)

print('합계 : %d, 평균 : %.2f' % (sum, avg ))

In [19]:
# ex6-3.py
members = {'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}

print(members)
print(members['name'])
print(members['age'])

print('길이 : %d' % len(members))

{'name': '안지영', 'age': 30, 'email': 'jiyoung@korea.com'}
안지영
30
길이 : 3

In [24]:
# ex6-4.py
name = '안진영'
scores = {'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
print(scores)

scores['kor'] = 70
print(scores['kor'])

scores['music'] = 100
print(scores)

del scores['science']
print(scores)

print('이름 : %s' % name)
print('국어 : %d' % scores['kor'])
print('영어 : %d' % scores['eng'])
print('수학 : %d' % scores['math'])

{'kor': 95, 'eng': 85, 'math': 90, 'science': 80}
70
{'kor': 70, 'eng': 85, 'math': 90, 'science': 80, 'music': 100}
{'kor': 70, 'eng': 85, 'math': 90, 'music': 100}
이름 : 안진영
국어 : 70
영어 : 85
수학 : 90

In [26]:
# ex6-5.py
phones = {'갤럭시 노트8': 2017,  '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
print(phones)

for key in phones :
    print('%s => %s' % (key, phones[key]))

print(len(phones))

{'갤럭시 노트8': 2017, '갤럭시 S9': 2018, '갤럭시 노트10': 2019, '갤럭시 S20': 2020}
갤럭시 노트8 => 2017
갤럭시 S9 => 2018
갤럭시 노트10 => 2019
갤럭시 S20 => 2020
4

In [ ]:
# Q6-4.py
ad = {'id':'admin', 'password':'11111'}

in_id = input('아이디를 입력하세요: ')
in_password = input('비밀번호를 입력하세요: ')

if (in_id == ad['id'] and in_password == ad['password']) :
    print('모든 정보에 접근 가능합니다!')
else :
    print('정보에 접근 권한이 없습니다!')

In [ ]:
# Q6-5.py
words = {'사과':'apple', '컴퓨터':'computer', '학교':'school', '책상':'desk', '의자':'chair'}

for key in words :
    in_word = input('%s에 해당되는 영어 단어를 입력해주세요: ' % key)

    if in_word == words[key] :
        print('정답입니다!')
    else :
        print('틀렸습니다!')